//CHANGE_INSTANCE.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.ffc2627b-6e01-46f2-bb30-54df38816f93/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@CHANGE_INSTANCE:registry=https://CHANGE_INSTANCE.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.ffc2627b-6e01-46f2-bb30-54df38816f93/contents/release/npm